<%- include('./includes/header.ejs')%>
  <link rel="stylesheet" href="/css/products/index.css">
</head>
<body>
  <%- include('./includes/navigation.ejs')%>

  <section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <% if(user && !user.isAdmin) { %>
      <form action="/shop" method="get">
        <button>Shop now</button>
      </form>
    <% } else if(!user) {%>
      <form action="/product/shop" method="get">
        <button>Shop now</button>
      </form>
    <% } %>
  </section>

  <section id="feature" class="section-p1">
    <div class="fe-box">
      <img src="/images/features/f1.png" alt="" />
      <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
      <img src="/images/features/f2.png" alt="" />
      <h6>Online Order</h6>
    </div>
    <div class="fe-box">
      <img src="/images/features/f3.png" alt="" />
      <h6>Save Money</h6>
    </div>
    <div class="fe-box">
      <img src="/images/features/f4.png" alt="" />
      <h6>Promotions</h6>
    </div>
    <div class="fe-box">
      <img src="/images/features/f5.png" alt="" />
      <h6>Happy sell</h6>
    </div>
    <div class="fe-box">
      <img src="/images/features/f6.png" alt="" />
      <h6>F24/7 Support</h6>
    </div>
  </section>

  <section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Collection New Morden Design</p>
    <div class="pro-container">

      <% if(featuredProducts) { %>
        <% for(const product of featuredProducts) { %>
          <div class="pro">
            <a href="/product/single-product-page?id=<%=product.id%>"><img src="/<%=product.image%>" style="max-height: 270px; height: 270px;" alt="" /></a>
            <div class="des">
              <span><%=product.brand%></span>
              <h5><%=product.title%></h5>
              <% if(!user || (user && !user.isAdmin)) { %>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              <% } %>
              <h4>&#x20B9; <%=product.price%></h4>
            </div>
            <% if(user && !user.isAdmin) { %>
              <form action="/cart/add" method="post">
                <input type="hidden" name="productId" value="<%=product.id%>">
                <button class="cart" style="cursor: pointer;"><i class="fas fa-cart-plus"></i></button>
              </form>
            <% } %>
          </div>
        <% } %>
      <% } %>

    </div>
  </section>

  <section id="banner" class="section-m1">
    <h4>Repair Service</h4>
    <p>Up to <span>70% off</span>-All t-shirt & Accessories</p>
    <a href="/explore more" class="normal">Explore More</a>
  </section>

  <section id="product1" class="section-p1">
    <h2>New Arrival</h2>
    <p>Collection New Morden Design</p>
    <div class="pro-container">
      
      <% if(featuredProducts) { %>
        <% for(const product of newProducts) { %>
          <div class="pro">
            <a href="/product/single-product-page?id=<%=product.id%>"><img src="/<%=product.image%>" style="max-height: 270px; height: 270px;" alt="" /></a>
            <div class="des">
              <span><%=product.brand%></span>
              <h5><%=product.title%></h5>
              <% if(!user || (user && !user.isAdmin)) { %>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
              <% } %>
              <h4>&#x20B9; <%=product.price%></h4>
            </div>
            <% if(user && !user.isAdmin) { %>
              <form action="/cart/add" method="post">
                <input type="hidden" name="productId" value="<%=product.id%>">
                <button class="cart" style="cursor: pointer;"><i class="fas fa-cart-plus"></i></button>
              </form>
            <% } %>
          </div>
        <% } %>
      <% } %>

    </div>
  </section>

  <section id="sm-banner" class="section-p1">
    <div class="banner-box">
      <h4>crazy deals</h4>
      <h2>buy 1 get 1 free</h2>
      <span>The best classic dress is on at Cara</span>
      <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box-2">
      <h4>spring summer</h4>
      <h2>upcomming seasons</h2>
      <span>The best classic dress is on at Cara</span>
      <button class="white">Collection</button>
    </div>
  </section>

  <section id="banner3">
    <div class="banner-box">
      <h2>SEASONAL SALE</h2>
      <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
      <h2>NEW FOOTWARE COLLECTION</h2>
      <h3>Spring / Summer 2022</h3>
    </div>
    <div class="banner-box banner-box3">
      <h2>T-SHIRTS</h2>
      <h3>New Trendy Print</h3>
    </div>
  </section>

  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Sign Up For Newsleatters</h4>
      <p>
        Get E-mail updates about our latest shop and
        <span>special offers</span>
      </p>
    </div>
    <div class="form">
      <input type="text" placeholder="Your e-mail address" />
      <button class="normal">Sign Up</button>
    </div>
  </section>
  
<%- include('./includes/footer.ejs')%>