<%- include('../includes/header.ejs')%>
  <link rel="stylesheet" href="/css/products/list.css">
</head>
<body>
  <%- include('../includes/navigation.ejs')%>

  <section id="page-header">
  </section>

  <section id="product1" class="section-p1">
    <div class="pro-container">
      <% for( const item of products) { %>
        <div class="pro">
          <form method="post">
            <img src="/<%=item.image%>" style="max-height: 270px; height: 270px;" alt="" />
            <div class="des">
              <span><%=item.brand%></span>
              <h5><%=item.title%></h5>
              <h4>$<%=item.price%></h4>
            </div>
            <input type="hidden" name="productId" value="<%=item.id%>">
            <div class="btn-wapper">
              <input type="hidden" name="id" value="<%=item.id%>" >
              <a href="/product/edit?id=<%=item.id%>">Edit</a>
              <button type="submit" formaction="/product/delete">Delete</button>
            </div>
          </form>
        </div>
      <% } %>
    </div>
  </section>
  
<%- include('../includes/footer.ejs')%>