<%- include('../includes/header.ejs')%>
  <link rel="stylesheet" href="/css/cart/cart.css">
</head>
<body>
  <%- include('../includes/navigation.ejs')%>

  <section id="page-header">
    <h2>#Cart</h2>
  </section>

  <section class="section-p1" id="cart">
    <table width="100%">
      <thead>
        <tr>
          <td>Remove</td>
          <td>Image</td>
          <td>Product</td>
          <td>Price</td>
          <td>Quantity</td>
          <td>SubTotal</td>
        </tr>
      </thead>
      <tbody>
        <% if(products && products.length != 0) { %>
          <% for(const product of products) { %>
            <tr>
              <td>
                <form action="/cart/delete" method="post">
                  <input type="hidden" name="productId" value="<%=product.id%>">
                  <button class="btn-icon">
                    <i class="fas fa-minus-circle"></i>
                  </button>
                </form>
              </td>
              <td><img src="/<%=product.image%>" alt="" /></td>
              <td><%=product.title%></td>
              <td>&#x20B9; <%=product.price%></td>
              <td><%=product.qty%></td>
              <td>&#x20B9; <%=(product.qty * product.price)%></td>
            </tr>
          <% } %>
        <% } else { %>
          <div class="empty-list">
            <h2>No Products in the Cart</h2>
          </div>
        <% } %>
      </tbody>
    </table>
  </section>

  <section id="cart-add" class="section-p1">
    <div id="subtotal">
      <h3>Cart Total</h3>
      <table>
        <tr>
          <td>Cart Sub-total</td>
          <td>&#x20B9; <%=totalPrice%></td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td>Free</td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>&#x20B9; <%=totalPrice%></strong></td>
        </tr>
      </table>
      <button>Proceed to checkout</button>
    </div>
  </section>

<%- include('../includes/footer.ejs')%>